/*
Errno::ENOENT: No such file or directory @ rb_sysopen - css/*.scss

Backtrace:
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:482:in `read'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/plugin.rb:108:in `method_missing'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:349:in `watch_or_update'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/exec/base.rb:40:in `parse'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/lib/sass/exec/base.rb:19:in `parse!'
/Users/Jane/.rvm/gems/ruby-2.1.1/gems/sass-3.4.1/bin/sass:13:in `<top (required)>'
/Users/Jane/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/Jane/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/Jane/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Jane/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - css/*.scss"; }
