$green: #1E824C;
$red: #D91E18;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background-color: $green;
  color: white;
}

h1, h2, button {
  text-align: center;
}

// button {
//   background-color: $red;
//   border: 0px;
//   padding: 20px 50px;
//   font-size: 2em;
//   @include border-radius(10px);
// }

// button:hover{
//   background-color: darken($red, 10%);
// }

header {
  margin: 10px 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: darken($green, 50%);
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 95%;
  margin: auto;
}

.main {
  margin: auto;
  text-align: center;
}

#dealer {
  text-align: center;
}

#player {
  width: 100%;
  display: inline-block;
  @include border-radius(100px);
  margin: auto;
  position: relative;
  text-align: center;
}

ul {
  text-align:center;
  padding: 0px;
}

#dealer .cards li {
  list-style: none;
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 5%;
  height: auto;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  padding: 10px 0;
  @include border-radius(5px);
  transform: rotate(0.5turn)
}

section h2 {
  font-size: 2em;
}

#player .cards li {
  list-style: none;
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 15%;
  height: auto;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  padding: 40px 0;
  @include border-radius(10px);
}

#tally {
  display: inline;
}

#tally h3, #tally p {
  display: inline;
}
