body {
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  color: white;
  font-family: 'Lobster', cursive; }

h1, h2, button {
  text-align: center; }

header {
  margin: 10px 0; }

header h1, #message {
  font-size: 5em;
  margin-top: 10px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 680px) {
    header h1, #message {
      font-size: 3.8em; } }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  margin: 0px;
  padding: 20px;
  text-align: center; }

.container {
  max-width: 95%;
  margin: auto; }

.main {
  margin: auto;
  text-align: center; }

.sans-serif {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif; }

#dealer {
  text-align: center;
  position: absolute;
  margin-left: 10px; }
  @media only screen and (max-width: 600px) {
    #dealer {
      width: 20%;
      display: inline-block; }
      #dealer h2 {
        font-size: 1.2em; } }
  @media only screen and (max-width: 320px) {
    #dealer {
      display: none; } }

#player {
  width: 100%;
  display: inline-block;
  border-radius: 100px;
  margin: auto;
  position: relative;
  text-align: center; }
  #player h2 {
    font-size: 3em;
    text-transform: uppercase; }

ul {
  text-align: center;
  padding: 0px; }

#dealer .cards li {
  list-style: none;
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 45px;
  height: auto;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  padding: 25px 0;
  border-radius: 5px; }
  @media only screen and (max-width: 500px) {
    #dealer .cards li {
      width: 30px;
      padding: 10px 0; } }

section h2 {
  font-size: 2em; }

#player .cards li {
  list-style: none;
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 80px;
  height: auto;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  padding: 40px 0;
  border-radius: 10px; }
  @media only screen and (max-width: 450px) {
    #player .cards li {
      width: 60px;
      padding: 25px 0; } }

#tally {
  display: inline; }

#tally h3, #tally p {
  display: inline; }

#message {
  margin: 0px auto;
  text-align: center;
  z-index: 10; }
