$green: #1E824C;
$brick: #351C0C;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

footer {
  display: none;
}

.long {
  width: 90%;
  height: 300px;
  position: fixed;
  bottom: 0px;
  margin: auto;
  perspective: 600px;
}

.middle {
  background-color: darken($green, 20%);
  border: 15px solid black;
  border-top: none;
  border-bottom: none;
  @include border-radius(10px);
  width: 60%;
  height: 205.5px;
  z-index: 1;
  position: relative;
  bottom: -120px;
  margin: auto;
  transform: rotateX(55deg);
}

.top {
  background-color: darken($green, 20%);
  border: 15px solid black;
  @include border-radius(20px);
  width: 80%;
  height: 304px;
  z-index: -2;
  position: relative;
  bottom: 300px;
  margin: auto;
  transform: rotateX(55deg);
}

.side {
  width: 25%;
  height: 140px;
  bottom: -160px;
  background-color: darken($brick, 0.2);
  z-index: -3;
  border: 5px solid black;
}

.left {
  position: relative;
  float: left;
}

.right {
  position: relative;
  float: right;
}
